@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkslateblue;
    color: white;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(22, 22, 114);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 40vw;
    height: 70vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    text-align: center;
}

.output {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    margin: 20px 0 5px;
    position: relative;
    border-radius: 5px;
}

.output span {
    font-size: 18px;
    display: block;
    padding: 9px 15px;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    padding: 5px;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
}

.btn:hover {
    font-size: 22px;
}

p {
    margin: 0 0 10px;
    font-size: 14px;
    color: rgb(251, 78, 78);
    text-align: justify;
    display: none;
}

.form-input {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 16px;
}

.password-length {
    border: 0;
    background-color: white;
    width: 50px;
    padding: 0 5px;
}

button {
    background-color: darkslateblue;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    font-weight: bolder;
}

.password-length:focus,
button:focus {
    outline: 0;
}

@media (max-width: 920px) {
    .container {
        width: 60vw;
    }
}

@media (max-width: 620px) {
    .container {
        width: 80vw;
    }
}

@media (max-width: 470px) {
    .container {
        width: 90vw;
        padding: 15px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }

    h1 {
        font-size: 25px;
    }

    .output span {
        font-size: 15px;
        padding: 11px 10px;
    }
}